<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>draftLatex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04BFA4E81DA8BB910092F6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BFA4FC1DA8BB910092F6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04BFA5071DA8BB910092F6E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
